
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/assets/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body ng-app="testTool" ng-controller="testController">
    <div> 
    </div>

    <script src="~/assets/libs/angular/angular.js"></script>
    <script src="~/assets/libs/ui-bootstrap-tpls-2.5.0.js"></script>
</body>
</html>
