
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    @*<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">*@
    <!-- Bootstrap 3.3.6 -->
    <link href="~/assets/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/assets/libs/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/assets/css/AdminLTE.css" rel="stylesheet" />
    <!-- iCheck -->
    @*<link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">*@
    <link href="~/assets/libs/iCheck/skins/square/blue.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page" ng-app="admintool.login" ng-controller="loginController">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Admin Tool</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in</p>
            <form role="form" ng-submit="loginSubmit()">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Username" ng-model="userLogin.UserName">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password" ng-model="userLogin.Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        @*<button type="button" class="btn btn-primary btn-block btn-flat" ng-click="loginSubmit()">Sign In</button>*@
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/assets/libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.js"></script>
    <!-- iCheck -->
    @*<script src="../../plugins/iCheck/icheck.min.js"></script>*@
    <script src="~/assets/libs/iCheck/icheck.js"></script>

    <script src="~/assets/libs/angular/angular.js"></script>
    <script src="~/assets/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/assets/libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/assets/libs/toastr/toastr.js"></script>
    <script src="~/assets/libs/ckeditor/ckeditor.js"></script>
    <script src="~/assets/libs/ng-ckeditor/ng-ckeditor.js"></script>

    <script src="~/app/shared/modules/admintool.common.js"></script>
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/components/login/admintool.login.js"></script>

    <script src="~/app/components/login/loginController.js"></script>
    <script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
    </script>
</body>
</html>
